@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-size: .14rem;
    font-weight: 400;
    font-style: normal;
    font-family: "微软雅黑";
    text-size-adjust: 100%;
}

body {
    min-width: 320px;
}

ul,
li {
    list-style: none;
}

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    font-size: 625%;
}

img,
div,
body,
html,
ul,
li,
a {
    -webkit-touch-callout: none;
}

input,
button {
    outline: 0;
}

button {
    cursor: pointer;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #999;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
    background: #FFF;
}

#app {
    display: flex;
    flex-direction: column;
}

.header {
    height: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding-left: .2rem;
    padding-right: .2rem;
    border-bottom: .01rem solid #3B3E4C;
    background: #292B37;
    a {
        color: #fff;
    }
}

.nav {
    height: 1.4rem;
    background: #EBEBEB;
    padding-left: .2rem;
    padding-right: .2rem;
}

.nav label input {
    width: 100%;
    height: .3rem;
    margin-top: .2rem;
    border: 0;
    border-radius: .05rem;
    text-align: center;
}

.nav .zhu {
    margin-top: .15rem;
    font-size: .12rem;
    color: #808080;
}

.content {
    flex: 1;
    overflow-y: scroll;
}