@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  font-size: .14rem;
  font-weight: 400;
  font-style: normal;
  font-family: "微软雅黑";
  text-size-adjust: 100%;
}

body {
  min-width: 320px;
}

ul,
li {
  list-style: none;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 625%;
}

img,
div,
body,
html,
ul,
li,
a {
  -webkit-touch-callout: none;
}

input,
button {
  outline: 0;
}

button {
  cursor: pointer;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #fff;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  background: #FFF;
}

#app {
  display: flex;
  flex-direction: column;
}

header {
  height: .45rem;
  line-height: .45rem;
  background-color: #00b38a;
  color: #fff;
  font-size: .18rem;
  text-align: center;
}

.index-wrap {
  flex: 1;
  overflow: hidden;
}

.index-wrap .index-box {
  height: auto;
}

.index-wrap .index-box nav {
  height: .5rem;
  padding-left: .2rem;
  padding-right: .2rem;
  display: flex;
  justify-content: space-between;
  line-height: .5rem;
  border-bottom: .01rem solid #eee;
}

.index-wrap .index-box nav p:nth-child(2) {
  color: #00b38a;
}

.index-wrap .index-box #index-content {
  height: auto;
}

.index-wrap .index-box #index-content dl {
  height: 1rem;
  display: flex;
  padding: .2rem;
  border-bottom: .01rem solid #eee;
}

.index-wrap .index-box #index-content dl dt {
  flex-basis: .6rem;
  flex-shrink: 0;
}

.index-wrap .index-box #index-content dl dt img {
  width: 100%;
  height: auto;
}

.index-wrap .index-box #index-content dl dd {
  flex: 1;
  padding-left: .2rem;
}

.index-wrap .index-box #index-content dl dd .company {
  font-size: .16rem;
  font-weight: 800;
  margin-bottom: 6px;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.index-wrap .index-box #index-content dl dd .job-salary {
  display: flex;
  justify-content: space-between;
}

.index-wrap .index-box #index-content dl dd .job-salary .job {
  font-size: .12rem;
  width: 60%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.index-wrap .index-box #index-content dl dd .job-salary .salary {
  flex: 1;
  text-align: right;
  font-size: .16rem;
  color: #00b38a;
}

.index-wrap .index-box #index-content dl dd .time {
  font-size: .1rem;
  color: #888;
}

.index-wrap #more {
  height: .6rem;
  line-height: .6rem;
  text-align: center;
  color: #888;
}

.foots {
  height: .45rem;
  display: flex;
  text-align: center;
  line-height: .45rem;
  background: #fff;
}

.foots .footer {
  flex: 1;
  color: #c2cfcc;
  font-size: .16rem;
}

.foots .footer .icon {
  font-size: .2rem;
}
