<!DOCTYPE html>
<html lang="en">

<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div class="wrap">
        <header class="header">this is header</header>
        <div class="content">111</div>
        <footer class="footer">
            this is footer
        </footer>
    </div>
</body>

</html>