.nav{
    height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
}
.nav a{
    flex: 1;
    color:#222;
    line-height: 45px;
}
.nav .active {
    color:tomato;
    border-bottom: tomato solid 2px ;
}