@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  font-size: .14rem;
  font-weight: 400;
  font-style: normal;
  font-family: "微软雅黑";
  text-size-adjust: 100%;
}

body {
  min-width: 320px;
}

ul,
li {
  list-style: none;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 625%;
}

img,
div,
body,
html,
ul,
li,
a {
  -webkit-touch-callout: none;
}

input,
button {
  outline: 0;
}

button {
  cursor: pointer;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #FFF;
}

.App{
  width:100%;
  height:100%;
}
.header {
  height:.5rem;
  padding-left: .6rem;
  padding-top:.12rem; 
  border-bottom: .01rem solid #ccc;
}
.header input{
  display: inline-block;
  height:.24rem;
}
.lists li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:.5rem;
  padding:0 .2rem ;
  border-bottom: .01rem solid #ccc;
}
.lists li .check {
  width:.2rem;
  height:.2rem;
  text-align: center;
  line-height: .2rem;
  border:.01rem #ccc solid;
  border-radius: 50%;
}
.lists .checked .check:after {
  content:'√';
  color:rgb(106, 255, 47);
  transform: scale(1.5)
}
.lists .checked .Text {
  color:#666;
  text-decoration:line-through;
}
.Filter{
  padding:.2rem .1rem;
}
.Filter b {
  padding:.02rem .05rem;
  margin:0 .05rem;
  border:.01rem solid #ccc;
  border-radius:.05rem;
}
.Filter .act {
  color:lightseagreen;
  border: .01rem solid lightseagreen;
}