.car-list {
    width: 100%;
}

.car-item-list {
    .initial {
        font-size: .28rem;
        font-weight: 500;
        color: #aaa;
        text-indent: .3rem;
        background: #f4f4f4;
    }
}

ul {
    padding-left: .3rem;
    padding-right: .3rem;
    li {
        display: flex;
        align-items: center;
        height: 1rem;
        border-bottom: .02rem solid #ddd;
        &:last-of-type {
            border-bottom: none;
        }
        img {
            display: block;
            width: .8rem;
            height: .8rem;
        }
        span {
            font-size: .32rem;
            padding-left: .4rem;
        }
    }
}