.city {
  width: 100%;
  height: 100%;
}

.city p {
  height: .4rem;
  line-height: .4rem;
  font-size: .24rem;
  padding-left: .2rem;
  background: #f4f4f4;
}

.city div {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.city div ul li,
.city div ol li {
  display: flex;
  justify-content: space-between;
  padding: 0 .3rem;
  font-size: .28rem;
  height: .8rem;
  line-height: .8rem;
  border-bottom: 1px solid #eee;
  margin-left: .1rem;
}

.city-list {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  width: 75%;
  height: 100%;
  background: #fff;
}

.city-list li {
  display: flex;
  justify-content: space-between;
  padding: 0 .3rem;
  font-size: .28rem;
  height: .8rem;
  line-height: .8rem;
  border-bottom: 1px solid #eee;
  margin-left: .1rem;
}
