.footer{
    height:50px;
    display: flex;
    border-top:1px solid rgb(94, 184, 94);
}
.footer a{
    flex: 1;
    height:50px;
    line-height: 50px;
    text-align: center;
    color:#333;
}
.footer .active{
    color:#fff;
    background:rgb(94, 184, 94);
}