.home-page nav {
    height: 40px;
    display: flex;
    align-items: center;
}

nav a {
    color: #333;
    flex: 1;
    line-height: 38px;
    text-align: center;
}

nav .active {
    color: #F49238;
    border-bottom: 2px solid #F49238;
}