.login{
    width: 100%;
    height: 100%;
    padding: 0 20px;
    background: #FFFFFF;
}
.login img{
    margin-left: 35%;
    padding: 50px 0;
}
.login p{
    padding: 10px;
    font-size: 12px;
    border-bottom: 1px solid #CBCBCB;
    color: #7B7B7B;
}
.login input{
    border: none;
    outline: none;
    margin-left: 20px;
}
.login button{
    width: 90%;
    height: 35px;
    margin-left: 5%;
    margin-top: 30px;
    border-radius: 10px;
    background: #202020;
    font-size: 14px;
    color: #fff;
    border: none;
    outline: none;
}